<!doctype html>
<!--[if lt IE 7]>   <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]> <!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Legacy prototype</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="../../../static/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../../static/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="../../../static/img/favicons/manifest.json">
  <link rel="mask-icon" href="../../../static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/322aece/css/styles.css">
  <link rel="stylesheet" href="../../../static/css/legacy-main.css" media="all">
</head>

<body>

<script src="https://cdn.ons.gov.uk/sdc/322aece/scripts/bundle.min.js" ></script>

<header class="page__header">

  <div class="logo_container">
    <div class="wrapper">
      <div class="group">
        <div class="col-12">
          <div class="logo_header">
            <a href="/"><img src="../../../static/img/logo.svg" alt="Office for National Statistics" class="logo__img"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--

  <div class="page_title">
    <div class="wrapper">
      <div class="group">
        <div class="col-12">
          <h1 class="jupiter main_heading">My ONS</h1>
          <h2 class="neptune sub_heading">Lorum ipsum colabra senatus roman seramus sempre</h1>
        </div>
      </div>
    </div>
  </div>

  -->

</header>

<section>

<div class="main-content">
  <div class="wrapper">
    <div class="group">
      <div class="col-12">
        <form class="form">

          <!--
          <h3 class="saturn">Sign in</h3>
          -->

          <h3 class="jupiter">Sign in</h3>

            <div class="field u-mb-s">
              <label class="label">Username</label>
              <input class="input input--text input-type__input" required type="username" id="id-name">
            </div>

            <div class="field">
              <label class="label " for="inputPassword" id="inputPasswordLabel">Password</label>
                <div class="field--toggle">
                  <label class="label label--inline venus field__label" for="showPasswordToggle">Show password</label>
                  <input id="showPasswordToggle" class="field__input input input--checkbox" type="checkbox" />
                </div>
              <input id="inputPassword" type="password" class="input input--text" aria-describedby="inputPasswordLabel" />
            </div>

            <p class="forgot-password"><a href="forgot-password.html">Forgot password?</a></p>
            <button id="submitButton" class="btn btn--primary venus" type="submit">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</div>

</section>

<br>
<br>
<br>

<footer class="page__footer">

  <div class="wrapper">
    <div class="group">
      <div class="col-12">
        <span class="new">This release is in development. Your <a href="mailto:ramon.delgado@ext.ons.gov.uk?Subject=User%20feedback"> feedback</a> will help us improve it.</span>
      </div>
    </div>
  </div>


<script type="text/javascript">
 
window.onload = function(){
 
  var button = document.getElementById("submitButton");

  button.onclick = function(e) {
    e.preventDefault();
    var userInput = document.getElementById('id-name').value;
   
    if (userInput.includes('ohn')) {
   
      window.location = '/john/hub.html';
   
    } else if (userInput.includes('ane')) {
      window.location = 'jane/collection/dashboard.html';

    } else if (userInput.includes('aria')) {
      window.location = 'login_error.html';

    }
    return false;
  }
};
 
</script>​

</footer>


</body>
</html>


