.b_icon {
    font-size: 12px;
    height: 30px;
    cursor: pointer;
}

.right {
    text-align: right;
}

.b_div {
    width: 8%;
    display: inline-block;
    float: right;
}

.builder_main {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px 12px 20px 12px;
}

.grb_btn_look {
    width: 5rem !important;
    display: inline-block !important;
    cursor: pointer;
    border-style: solid;
    border-width: 0.5px;
    padding: 3px;
    border-radius: 4px;
    margin: 0px 5px 0px 5px;
    background-color: #3b7a9e;
    color: white !important;
}

.grb_i {
    font-size: 12px;
    width: 13% !important;
    display: inline-block !important;
    margin: 0px 5px 0px 5px;
}

.grb_l {
    font-size: 12px;
    border: none !important;
    width: 13% !important;
    display: inline-block !important;
    margin: 0px 5px 0px 5px;
}

.grb_var {
    width: 30% !important;
}

.info_img {
    width: 20px !important;
    vertical-align: sub;
}

.pv_div{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
