@charset "UTF-8";

/* Components that aren't from SDC */
@import "components/registers-grid.css";
@import "components/typography.css";
@import "components/header.css";
@import "components/badges.css";
@import "components/footer.css";
@import "components/login.css";
@import "components/search.css";
@import "components/table.css";
@import "components/nav2.css";
@import "components/dialog.css";
@import "components/upload-file.css";
@import "components/own.css";
@import "components/multiple-select.css";
@import "components/breadcrumb.css";
@import "components/style.css";
@import "components/edit-pv.css";

.panel--simple {
    padding: 27px 27px 9px 27px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.pag_index {
    margin-right: 5px;
}

.cur {
    color: #000000;
    text-decoration: none;
}

.pag_info {
    margin-right: 15px;
}

.input--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10.799px 36px 10.799px 9px;
    padding: .6rem 2rem .6rem .5rem;
    background: #fff url(../img/icons--chevron-down.svg) no-repeat center right 6px;
    background-size: 1.5rem;
    line-height: 22.5px;
    line-height: 1.25rem;
}

.main-content {
    padding: 32px 0;
    padding: 1.778rem 0;
}

.key-line {
    border-bottom: 1px solid #CFCFCF;
    margin-top: 18px;
    margin-top: 1rem;
    padding-left: 16px;
    padding-left: 0.8889rem;
}

.guidance__link:before {
    background: url(../img/icons--guidance.svg) no-repeat 50%;
}

.guidance__link:focus:before {
    background: url(../img/icons--guidance-white.svg) no-repeat 50%;
}

.guidance {
    margin-top: 6px;
    margin-top: 0.333rem;
}

.guidance__content {
    margin-top: 6px;
    margin-top: 0.333rem;
}

a {
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*-------------------- Will move this to builder.css -----------------*/
.pv_div{
    overflow: auto;
    height: 300px;
    line-height: 1.2em;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.pv_txt_div{
    display: none;
    overflow: auto;
    height: 300px;
    line-height: 1.2em;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.pv_select{
    margin-right: 10px;
    margin-left: 10px;
    -webkit-appearance: none;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
}

.pv_input{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
}

.pv_input:focus {
    outline: none;
}

.pv_span{
    min-width: 10px;
    display: inline-block;
}
.pv_tab{
    min-width: 40px;
    display: inline-block;
}

.pv_el{
    display: inline-block;
    position: relative;
}

.pv_line{
    -webkit-appearance: none;
    outline: none;
}

.pv_line_selected, .pv_line_selected > * > *{
    background-color: #f0f762;
}

.pv_error, .pv_error > * > *{
    background-color: #ff6363;
}

.pv_el_selected, .pv_el_selected > * {
    background-color: lightblue;
}

.pv_el:hover > .pv_el_delete{
    display: inline-block;
}

.pv_el_delete{
    display: none;
    position: absolute;
    height: 10px;
    width: 10px;
    top:0px;
    right:0px;
}

.pv_header{
    background-color: #3b7a9e;
    border-radius: 5px;
    padding: 3px 3px 3px 15px;
}

.pv_header_el{
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    color: #ffffff;
}

.pv_header_button{
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    color: #000000;
}

.pv_header_span{
    border-left: 1px solid #ccc;
    padding-left: 5px;
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    color: #ffffff;
}

.onoffswitch {
    position: relative; width: 76px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 5px;
    padding-bottom: 0 !important;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitchview-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after, .onoffswitchview-inner:before, .onoffswitchview-inner:after{
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Left";
    padding-left: 10px;
    background-color: #0F8243; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Right";
    padding-right: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: right;
}
.onoffswitchview-inner:before {
    content: "Build";
    padding-left: 10px;
    background-color: #0F8243; color: #FFFFFF;
}
.onoffswitchview-inner:after {
    content: "Text";
    padding-right: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 54px;
    border: 2px solid #999999; border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitchview-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.nav--inline .nav__link {
    display: inline-block;
    text-align: center;
    *display: inline;
    *zoom: 1;
}

.nav--page .nav__link--current, .nav--page .nav__link:hover {
    color: #033e58;
    border-bottom: 4px solid #033e58;
}
.nav--page .nav__link {
    text-decoration: none;
    padding: 0 0 5.399px;
    padding: 0 0 .3rem;
}
.nav__item--active .nav__link, .nav__link--current {
    font-weight: 700;
}

.nav--inline .nav__item:first-child {
    margin-left: 0;
}
@media only screen and (min-width: 740px) {
    .nav--inline .nav__item {
        margin: 0 0 0 1rem;
    }
}
.nav--inline .nav__item {
    font-size: 18px;
    font-size: 1rem;
    display: inline-block;
    margin: 0 0 0 18px;
    margin: 0 0 0 1rem;
    position: relative;
    text-align: center;
    *display: inline;
    *zoom: 1;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav--page {
    border-bottom: 1px solid #ccc;
}
.nav {
    display: block;
    padding: 0;
    margin: 0;
}
