{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">

<head>
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        {{ super() }}
    {% endblock %}
</head>

<body>
<header class="page__header">
    {% block header %}
        {{ super() }}

        <div class="header__nav">
            <div class="container">
            </div>
        </div>

    {% endblock %}
</header>
{% block content %}
    {{ super() }}
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <form action="" method="post" class="form" role="form">
                    {{ form.csrf_token }}
                    {% for field in form %}
                        {% if field.type != "SubmitField" %}
                            {% if field.type != "CSRFTokenField" %}
                                <div class="field u-mb-m">
                                    {{ field.label(class_="label u-fs-r") }}
                                    {% if field.errors %}
                                        {{ field(class_="form-control is-invalid") }}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ field(class_="input input--text") }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {{ form.submit(class_="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>