{% extends "layout.html" %}


<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        {{ super() }}
    {% endblock %}
    <title></title>

    <link rel="stylesheet" href="{{ url_for('static', href='css/dashboard.css') }}">
</head>

<body>

<!--Header content is imported from the parent template.-->
<header class="page__header">
    {% block header %}
        {{ super() }}
    {% endblock %}
</header>

<!--Dashboard page content-->
<section id="content">
    {% block content %}
                <!--Search bar and filter-->
    <div class="page__content container">
        <div class="grid">
            <div class="grid__col col-4@m">
                <form id="form-search" action="/dashboard/" class="form" method="post">
                    <label class="label">Results Filter</label>
                    <br>
                    {{ form.csrf_token }}
                    <p class="field">
                        <label for="text-input" class="">Keywords</label>
                        <div class="grid--flex">
                            {{ form.search_activity(class="input input--text input-type__input  u-mr-xs u-mb-xs  input--placeholder input--w-10",
                                        cols="1", rows="1", id="text-input", autofocus=true, maxlength="400", placeholder="Search...") }}
                            <button class="btn btn--small u-flex-align-bottom u-mb-xs">
                                {{ form.search_button(class="btn__inner", id="search_button", style="padding:10px 10px 8px 10px; pointer-events:auto;", type="submit") }}
                            </button>
                        </div>
                    </p>
                    <p class="field">
                        <label for="filter_dropdown">Status</label>
                        <div>
                            {{ form.run_type_filter(class="input input--select", id="filter_dropdown", style="width:90%;", type="submit") }}
                        </div>
                </form>
            </div>
            <!--Run table-->
            <div class="grid__col column-run  push-lil-bit">
                <div class="group-table">
                    <p>
                        <a id="new_run_link" href="{{ url_for('new_run_steps.new_run_1') }}" class="nav__link">Add New Run</a>
                    </p>
                    <div>
                    <!-- for each record, render each data value -->
                    {% for record in records|reverse %}
                        <hr/>
                        <br>
                        <h3>{{ record['RUN_NAME'] }}</h3>
                        <p class="u-fs-s"> {{ record['RUN_DESC'] }}
                            <br>
                            {{ record['PERIOD'] }}
                            <br>
                            {{ record['YEAR'] }}
                            <br>
                            {{ record['LAST_MODIFIED'] }}
                            <br>
                            {{ record['USER_ID'] }}
                        </p>
                        {% if record['RUN_STATUS'] == 'Ready' %}
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <p>
                                <em class="status status--info"><span class="u-fs-r">{{ record['RUN_STATUS'] }}</span></em>
                            </p>
                        {% elif record['RUN_STATUS'] == 'Not Started' %}
                            <meta http-equiv="refresh" content="10">
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--info">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Running' %}
                            <meta http-equiv="refresh" content="10">
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--info">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Completed' %}
                            <p>
                                <ul class="list list--bare list--inline">
                                    <li class="list__item ">
                                        <a class="list__link" href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                                    <li class="list__item ">
                                        <a class="list__link" href="/export_data/{{ record['RUN_ID'] }}">Export Data</a>
                                    </li>
                                </ul>
                            </p>
                            <em class="status status--success">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Cancelled' %}
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--dead">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Invalid Run' %}
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--error">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Failed' %}
                            <p>
                                <a class='tooltip' href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--error">{{ record['RUN_STATUS'] }}</em>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <br>
                    {% macro render_pagination(current_page, page_list, prev_url, next_url) %}
                        {% if page_list | count > 1 %}
                            <nav class="pagination u-mb-l" arial-label="Pagination (Page {{ current_page }} of {{ page_list | count }})">
                                <div class="pagination__position">Page {{ current_page }} of {{ page_list | count }}</div>
                                <ul class="pagination__items">
                                    {% if prev_url %}
                                        <li class="pagination__item pagination__item--previous">
                                            <a href="{{ prev_url }}" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page {{ current_page - 1 }})">Previous</a></li>
                                    {% endif %}

                                    {% if page_list | count > 7 %}
                                        {% if current_page > 3 %}
                                            <li class="pagination__item">
                                                <a href="{{ page_list[0].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[0].1 }}">{{ page_list[0].1 }}</a>
                                            </li>
                                        {% endif %}

                                        {% set current_page_index = current_page - 1 %}

                                        {% if current_page > 1 %}
                                            {% if current_page > 4 %}
                                                <li class="pagination__item pageination__item--gap">&hellip;</li>
                                            {% endif %}
                                            {% if current_page == page_list | count %}
                                                <li class="pagination__item">
                                                    <a href="{{ page_list[current_page_index - 4].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[current_page_index - 4].1 }}">
                                                        {{ page_list[current_page_index - 4].1 }}</a>
                                                </li>
                                                <li class="pagination__item">
                                                    <a href="{{ page_list[current_page_index - 3].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[current_page_index - 3].1 }}">
                                                        {{ page_list[current_page_index - 3].1 }}</a>
                                                </li>
                                            {% endif %}

                                            {% if current_page > 2 %}
                                                <li class="pagination__item">
                                                    <a href="{{ page_list[current_page_index - 2].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[current_page_index - 2].1 }}">
                                                        {{ page_list[current_page_index - 2].1 }}</a>
                                                </li>
                                            {% endif %}

                                            <li class="pagination__item">
                                                <a href="{{ page_list[current_page_index - 1].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[current_page_index - 1].1 }}">
                                                    {{ page_list[current_page_index - 1].1 }}</a>
                                            </li>
                                        {% endif %}

                                        {# Current Page Item #}
                                        <li class="pagination__item pagination__item--active pagination__item--current">
                                            <a href="{{ page_list[current_page_index].0 }}" class="pagination__link" aria-label="Current page" aria-current="true">{{ page_list[current_page_index].1 }}</a>
                                        </li>

                                        {% if current_page < page_list | count - 1 %}
                                            <li class="pagination__item">
                                                <a href="{{ page_list[current_page_index + 1].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[current_page_index + 1].1 }}">
                                                    {{ page_list[current_page_index + 1].1 }}</a>
                                            </li>
                                        {% endif %}
                                        {% if current_page < page_list | count - 2 %}
                                            <li class="pagination__item">
                                                <a href="{{ page_list[current_page_index + 2].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[current_page_index + 2].1 }}">
                                                    {{ page_list[current_page_index + 2].1 }}</a>
                                            </li>
                                        {% endif %}
                                        {% if current_page < 2 %}
                                            <li class="pagination__item">
                                                <a href="{{ page_list[current_page_index + 3].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[current_page_index + 3].1 }}">
                                                    {{ page_list[current_page_index + 3].1 }}</a>
                                            </li>
                                        {% endif %}
                                        {% if current_page < page_list | count - 3 %}
                                            <li class="pagination__item pageination__item--gap">&hellip;</li>
                                        {% endif %}
                                        {% if current_page < page_list | count %}
                                            <li class="pagination__item">
                                                <a href="{{ page_list[page_list | count - 1].0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page_list[page_list | count - 1].1 }}">
                                                    {{ page_list[page_list | count - 1].1 }}</a>
                                            </li>
                                        {% endif %}

                                    {% else %}
                                        {% for page in page_list %}
                                            {% if current_page == page.1 %}
                                                <li class="pagination__item pagination__item--active pagination__item--current">
                                                    <a href="{{ page.0 }}" class="pagination__link" aria-label="Current page" aria-current="true">{{ page.1 }}</a>
                                                </li>
                                            {% else %}
                                                <li class="pagination__item">
                                                    <a href="{{ page.0 }}" class="pagination__link" rel="next" aria-label="Go to page {{ page.1 }}">{{ page.1 }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if next_url %}
                                        <li class="pagination__item pagination__item--next">
                                            <a href="{{ next_url }}" class="pagination__link" aria-label="Go to the next page (Page {{ current_page + 1 }})" rel="next">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    {% endmacro %}

                    {{ render_pagination(current_page, page_list, prev_url, next_url) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</section>


<!--Generic footer is imported from the parent template.-->
    {% block footer %}
        {{ super() }}

        <script type='text/javascript'>
            $(document).ready(function () {
                $('#filter_dropdown').change(function () {
                    $('#search_button').click();
                });
            });
        </script>

    {% endblock %}
</body>
</html>
