{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        {{ super() }}
    {% endblock %}
    <title></title>

    <link rel="stylesheet" href="{{ url_for('static', href='css/dashboard.css') }}">
</head>

<body>

<!--Header content is imported from the parent template.-->
<header class="page__header">
    {% block header %}
        {{ super() }}
    {% endblock %}
</header>

<!--Dashboard page content-->
<section id="content">
    {% block content %}
                <!--Search bar and filter-->
    <div class="page__content container">
        <div class="grid">
            <div class="grid__col col-4@m">
                <form id="form-search" action="/dashboard/" class="form" method="post">
                    <label class="label">Results Filter</label>
                    <br>
                    {{ form.csrf_token }}
                    <p class="field"><label for="text-input" class="">Keywords</label>
                        <div class="grid--flex">
                            {{ form.search_activity(class="input input--text input-type__input  u-mr-xs u-mb-xs  input--placeholder input--w-10",
                                        cols="1", rows="1", id="text-input", autofocus=true, maxlength="400", placeholder="Search...") }}
                            <span>
                                {{ form.search_button(class="btn__inner  btn--small u-flex-align-bottom u-mb-xs", id="search_button", style="width:100%; padding:10px 10px 8px 10px;", type="submit") }}
                            </span>
                        </div>
                    </p>
                    <p class="field">
                        <label for="filter_dropdown">Status</label>
                        <div>
                            {{ form.run_type_filter(class="input input--select", id="filter_dropdown", style="width:100%;", type="submit") }}
                        </div>
                    </p>
                </form>

                <div hidden="true">
                    <fieldset class="fieldset">
                        <legend class="fieldset__legend"/>
                        <p class="checkboxes__label">Status</p>
                        <div class="checkboxes__items">
                            <p class="checkboxes__item">
                                     <span class="checkbox ">
                                         <input type="checkbox"
                                                id="ready"
                                                class="checkbox__input js-checkbox "
                                                value="ready"
                                         >
                                          <label id="ready-label" class="checkbox__label " for="ready">Ready</label>
                                      </span>
                            </p>
                            <br>
                            <p class="checkboxes__item">
                                     <span class="checkbox ">
                                         <input type="checkbox"
                                                id="not ready"
                                                class="checkbox__input js-checkbox "
                                                value="not ready"
                                         >
                                         <label id="not ready-label" class="checkbox__label " for="not ready">Not Ready</label>
                                     </span>
                            </p>
                            <p class="checkboxes__item">
                                     <span class="checkbox ">
                                         <input type="checkbox"
                                                id="running"
                                                class="checkbox__input js-checkbox "
                                                value="running"
                                         >
                                         <label id="running-label" class="checkbox__label " for="running">Running</label>
                                     </span>
                            </p>
                            <p class="checkboxes__item">
                                     <span class="checkbox ">
                                         <input type="checkbox"
                                                id="completed"
                                                class="checkbox__input js-checkbox "
                                                value="completed"
                                         >
                                <label id="completed-label" class="checkbox__label " for="completed">
                                    Completed
                                </label>
                            </span>
                            </p>
                            <p class="checkboxes__item">
                              <span class="checkbox ">
                                <input
                                        type="checkbox"
                                        id="invalid"
                                        class="checkbox__input js-checkbox "
                                        value="invalid"
                                >
                                <label id="invalid-label" class="checkbox__label " for="invalid">
                                    Invalid
                                </label>
                            </span>
                            </p>
                            <p class="checkboxes__item">
                              <span class="checkbox ">
                                <input
                                        type="checkbox"
                                        id="failed"
                                        class="checkbox__input js-checkbox "
                                        value="failed"
                                >
                                <label id="failed-label" class="checkbox__label " for="failed">
                                    Failed
                                </label>
                            </span>
                            </p>
                        </div>
                    </fieldset>
                </div>

            </div>
            <!--Run table-->
            <div class="grid__col col-7@m  push-1@m">
                <div class="group-table">
                    <p>
                        <a id="new_run_link" href="{{ url_for('new_run_steps.new_run_1') }}" class="nav__link">Add New Run</a>
                    </p>
                    <div>
                    <!-- for each record, render each data value -->
                    {% for record in records|reverse %}
                        <hr/>
                        <br>
                        <h3>
                        <span class="u-fs-r">{{ record['RUN_NAME'] }}</span>
                        </h3>
                        <p class="u-fs-s"> {{ record['RUN_DESC'] }}
                            <br>
                            {{ record['PERIOD'] }}
                            <br>
                            {{ record['YEAR'] }}
                            <br>
                            {{ record['LAST_MODIFIED'] }}
                            <br>
                            {{ record['USER_ID'] }}
                        </p>
                        {% if record['RUN_STATUS'] == 'Ready' %}
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <p>
                                <em class="status status--info"><span class="u-fs-r">{{ record['RUN_STATUS'] }}</span></em>
                            </p>
                        {% elif record['RUN_STATUS'] == 'Not Started' %}
                            <meta http-equiv="refresh" content="10">
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--info">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Running' %}
                            <meta http-equiv="refresh" content="10">
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em>{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Completed' %}
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                                <a href="/export_data/{{ record['RUN_ID'] }}">Export Data</a>
                            </p>
                            <em class="status status--success">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Cancelled' %}
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--dead">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Invalid Run' %}
                            <p>
                                <a href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--error">{{ record['RUN_STATUS'] }}</em>
                        {% elif record['RUN_STATUS'] == 'Failed' %}
                            <p>
                                <a class='tooltip' href="/manage_run/{{ record['RUN_ID'] }}">Manage Run</a>
                            </p>
                            <em class="status status--error">{{ record['RUN_STATUS'] }}</em>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

</section>


<!--Generic footer is imported from the parent template.-->
    {% block footer %}
        {{ super() }}

        <script type='text/javascript'>
            $(document).ready(function () {
                $('#filter_dropdown').change(function () {
                    $('#search_button').click();
                });
            });
        </script>

    {% endblock %}
</body>
</html>
