{% extends "layout.html" %}

<html lang="en-gb" dir="ltr" class="">
<head>

    <!--Styles are imported from the parent template.-->
    {% block styles %}
        {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='js/manage_run.js')+"?v1.0.0" }}"></script>

        <style>
            td, th {
                padding: 6px 0;
                word-wrap: normal;
                line-height: 1;
                vertical-align: top;
                border-bottom: none;
            }
        </style>
    {% endblock %}

</head>

<body>

<!--Header content is imported from the parent template.-->
<header class="page__header">
    <!--Header content is imported from the parent template.-->
    {% block header %}
        {{ super() }}

        <div class="header__nav">
            <div class="container">
                <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu"
                     id="main-nav">
                    <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                        <li class="nav__item " role="menuitem" aria-current="page">
                            <a href="{{ url_for('dashboard.dashboard_view') }}" class="nav__link">Dashboard</a>
                        </li>
                        <li class="nav__item nav__item--active" role="menuitem">
                            <a id="new_run_link" href="{{ url_for('new_run_steps.new_run_1') }}" class="nav__link">New Run</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    {% endblock %}
</header>

<section id="content">
    {% block content %}
        <!--Manage run page content-->
        <section>

            <div class="wrapper">
                <div class="col-12 top_50_extra_space">
                    <div>
                        <table>
                            <tbody>

                            <tr style="border: 0">
                                <td><em>Run Name:</em></td>
                                <td>{{ current_run['RUN_NAME'] }} </td>
                            </tr>

                            <tr style="border: 0">
                                <td><em>Run ID:</em></td>
                                <td id="run_id">{{ current_run['RUN_ID'] }}</td>
                            </tr>

                            <tr class="table__row">
                                <td role="cell" class="table__cell"><em>Description:</em></td>
                                <td role="cell" class="table__cell">{{ current_run['RUN_DESC'] }}</td>
                            </tr>
                            <tr class="table__row">
                                <td role="cell" class="table__cell"><em>Fieldwork Period:</em></td>
                                <td role="cell"
                                    class="table__cell">{{ current_run['PERIOD'] }} {{ current_run['YEAR'] }}</td>
                            </tr>
                            <tr class="table__row">
                                <td role="cell" class="table__cell"><em>User:</em></td>
                                <td role="cell" class="table__cell">{{ current_run['USER_ID'] }}</td>
                            </tr>

                            <tr class="table__row">
                                <td role="cell" class="table__cell"><em>Execution Date:</em></td>
                                <td role="cell" class="table__cell">{{ current_run['LAST_MODIFIED'] }}</td>
                            </tr>
                            <tr class="table__row">
                                <td role="cell" class="table__cell"><em>Progress:</em></td>
                                <td role="cell" id="progress" class="table__cell"></td>
                            </tr>
                            <tr class="table__row">
                                <td role="cell" class="table__cell"><em>Run Status:</em>
                                </td>
                                <td role="cell" class="table__cell">
                                    {% if current_run['RUN_STATUS'] == 'Ready' %}
                                        <span id="current_run_status"
                                              class="status status--success">{{ current_run['RUN_STATUS'] }}</span>
                                    {% elif current_run['RUN_STATUS'] == 'Not Started' %}
                                        <span id="current_run_status"
                                              class="status status--info">{{ current_run['RUN_STATUS'] }}</span>
                                    {% elif current_run['RUN_STATUS'] == 'Running' %}
                                        <span id="current_run_status"
                                              class="status status--info">{{ current_run['RUN_STATUS'] }}</span>
                                    {% elif current_run['RUN_STATUS'] == 'Completed' %}
                                        <span id="current_run_status"
                                              class="">{{ current_run['RUN_STATUS'] }}</span>

                                    {% elif current_run['RUN_STATUS'] == 'Cancelled' %}
                                        <span id="current_run_status"
                                              class="status status--info">{{ current_run['RUN_STATUS'] }}</span>
                                    {% elif current_run['RUN_STATUS'] == 'Invalid Run' %}
                                        <span id="current_run_status"
                                              class="status status--error">{{ current_run['RUN_STATUS'] }}</span>
                                    {% elif current_run['RUN_STATUS'] == 'Failed' %}
                                        <span id="current_run_status"
                                              class="status status--error">{{ current_run['RUN_STATUS'] }}</span>
                                    {% endif %}
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </section>

        <section>

            <form id="tabs" class="form" method="POST">

                <div class="wrapper">
                    <div class="group">

                        {{ form.csrf_token }}

                        <div class="col-7 top_40_extra_space">
                            <ul class="nav-tabs clearfix u-mb-l" data-tabgroup="first-tab-group">
                                <li class="nav-tabs__tab--active">
                                    <a class="tab-label" href="/manage_run/{{ current_run['RUN_ID'] }}">Manage Run</a>
                                </li>
                            </ul>

                            <table class="table table__dense" id="run_table">

                                <thead class="table--head">
                                <tr>
                                    <th style="width: 75%" class="table--header--cell">&nbsp;&nbsp; &nbsp; &nbsp;Steps
                                    </th>
                                    <th style="width: 20%" class="table--header--cell">Status</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for step in run_status %}
                                    {% if 'Responses' in step and step['STEP_STATUS'] in ("Completed", "Failed") %}
                                        <tr data-toggle="modal" data-target="#myModal{{ step['STEP_NUMBER'] }}"
                                            style="cursor: pointer" class="table--row">
                                            {% else %}
                                        <tr class="table--row">
                                    {% endif %}

                                <td style="width: 80%" class="table--cell">{{ step['STEP_NAME'] }}</td>

                                <td style="width: 20%" class="table--cell status_column"
                                    step_num="{{ step['STEP_NUMBER'] }}">

                                    <!--If the step has an associated report render the status with a button-->
                                    {% if step['STEP_STATUS'] == 'Ready' %}
                                        <em class="status status--info status--small">Ready</em>
                                    {% elif step['STEP_STATUS'] == 'Not Started' %}
                                        <em class="status status--success status--small">Not Started</em>
                                    {% elif step['STEP_STATUS'] == 'Running' %}
                                        <em class="status status--info status--small">Running</em>
                                    {% elif step['STEP_STATUS'] == 'Completed' %}
                                        <em class="status status--success status--small">Completed</em>
                                    {% elif step['STEP_STATUS'] == 'Cancelled' %}
                                        <em class="status status--dead status--small">Cancelled</em>
                                    {% elif step['STEP_STATUS'] == 'Invalid Run' %}
                                        <em class="status status--dead status--small">Invalid Run</em>
                                    {% elif step['STEP_STATUS'] == 'Failed' %}
                                        <em class="status status--error status--small">Failed</em>
                                    {% endif %}
                                    {% if 'Responses' in step and step['STEP_STATUS'] in ("Completed", "Failed") %}
                                        <img class="info_img"
                                             src={{ url_for('static', filename='img/icons--info.svg') }}>
                                    {% endif %}
                                </td>
                                </tr>

                                {% endfor %}

                                </tbody>

                            </table>

                        </div>

                    </div>
                    <div class="col-12 top_50_extra_space"></div>

                </div>


                <div class="wrapper">
                    <div class="group">

                        <div class="grid__col">

                            <div class="top_20_extra_space">

                                {{ form.csrf_token }}

                                
                                {% if current_run['RUN_STATUS'] == 'Running' %}
                                    <button style="width: 100px;" name="run_button" id="run_button"
                                        class="btn btn--loader is-loading"
                                        autofocus
                                        disabled
                                        type=button onclick="start_run()">Run
                                    </button>
                                    <button style="width: 100px; margin-left: 20px;" name="run_button"
                                            id="cancel_button"
                                            class="btn btn--secondary"
                                            type=button onclick="cancel_run()">Cancel
                                    </button>
                                {% else %}
                                    <button style="width: 100px;" name="run_button" id="run_button"
                                            class="btn btn--primary btn--border"
                                            autofocus
                                            type=button onclick="start_run()">Run
                                    </button>
                                    <button style="width: 100px; margin-left: 20px; display: none;" name="run_button"
                                            id="cancel_button"
                                            class="btn btn--secondary"
                                            type=button onclick="cancel_run()">Cancel
                                    </button>
                                {% endif %}
                                {% if current_run['RUN_STATUS'] != 'Running' and current_run['RUN_STATUS'] != 'Ready' %}
                                    <button style="width: 100px; margin-left: 20px;" name="run_button"
                                            id="export_button"
                                            class="btn btn--secondary"
                                            type=button onclick="export_data()">Export
                                    </button>
                                {% else %}
                                     <button style="width: 100px; margin-left: 20px; display: none;" name="run_button"
                                            id="export_button"
                                            class="btn btn--secondary"
                                            type=button onclick="export_data()">Export
                                    </button>
                                {% endif %}

                                {{ form.edit_button(class="btn btn--secondary",
                                   style="width: 100px; margin-left: 20px;", type="submit") }}

                            </div>

                        </div>

                    </div>
                </div>
            </form>

        </section>

        {% for step in run_status %}
            <!-- The Modal Object defined by the step number-->
            <div id="myModal{{ step['STEP_NUMBER'] }}" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close" data-dismiss="modal">&times;</span>

                    <u><label>Run Status Report</label></u>
                    <br><br>
                    <label>Step:</label>
                    <input type="text" class="modal-input" id="id_input" VALUE="{{ step['STEP_NAME'] }}"
                           readonly="readonly">
                    <br>
                    <label>Run Status:</label>
                    <input type="text" class="modal-input" id="reason_input" value="{{ step['STEP_STATUS'] }}"
                           readonly="readonly">
                    <br>
                    <label>Report History:</label>
                    <br>
                    <br>
                    <div style="border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; padding: 12px 20px; height: 200px; overflow: auto">
                        <table class="reports" style="font-size: 12px">
                            {% if "Responses" in step %}
                                {% for rec in step['Responses'] %}
                                    <tr style="line-height: 0px">
                                        <td class="report_td">
                                            {% if rec['RESPONSE_CODE']|int == 1 %}
                                                SUCCESS:
                                            {% elif rec['RESPONSE_CODE']|int == 2 %}
                                                WARNING:
                                            {% elif rec['RESPONSE_CODE']|int == 3 %}
                                                ERROR:
                                            {% endif %}
                                        </td>
                                        <td class="report_td">{{ rec['MESSAGE'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>

                    <br><br>
                    <button type="button" class="btn btn--primary" id="modal_okay_button" data-dismiss="modal">Close
                    </button>
                </div>

            </div>
        {% endfor %}

    {% endblock %}
</section>

<footer class="page__footer">
    {% block footer %}
        {{ super() }}

        <script>

            function start_run() {
                let run_id = '{{ current_run['RUN_ID'] }}';

                console.log("submitting to: " + '/manage_run/start/' + run_id);

                $.ajax({
                    type: "POST",
                    url: '/manage_run/start/' + run_id,
                    data: $("#tabs").serialize(),
                    async: true,
                    success: function (data) {
                        console.log('got return, now do something with: ' + data);
                        $("#current_run_status").text('Running').attr('class', 'status status--success');
                        //$("#current_run_status").attr('class', 'status status--success');

                        // Do something here. For example, the server can return JSON here and you use Js to create the template client-side, or you server can return an HTML fragment and here you append it to a dom node
                    },

                    error: function (error) {
                        console.log('got error: ' + error);
                    }
                });

                $("#cancel_button").show();
                $("#run_button").attr("disabled", true);
                $("#edit_button").hide();
                $("#run_button").attr("class", 'btn btn--loader is-loading');

            }

            function cancel_run() {
                let run_id = '{{ current_run['RUN_ID'] }}';
                $("#cancel_button").hide();
                console.log("submitting to: " + '/manage_run/stop/' + run_id);

                $.ajax({
                    type: "GET",
                    url: '/manage_run/stop/' + run_id,
                    async: true,
                    success: function (data) {
                    },

                    error: function (error) {
                        console.log('got error: ' + error);
                    }
                });
            }

            function export_data() {
                window.location.href = "/export_data/{{ current_run['RUN_ID'] }}";
            }

        </script>
    {% endblock %}

</footer>


</body>
</html>

