{% extends "layout.html" %}

<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        {{ super() }}
    {% endblock %}
</head>

<body>

<!--Header content is imported from the parent template.-->
<header class="page__header">
    <!--Header content is imported from the parent template.-->
    {% block header %}
        {{ super() }}

        <div class="header__nav">
            <div class="container">
                <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu"
                     id="main-nav">
                    <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                        <li class="nav__item " role="menuitem" aria-current="page">
                            <a href="{{ url_for('dashboard.dashboard_view') }}" class="nav__link">Dashboard</a>
                        </li>
                        <li class="nav__item nav__item--active" role="menuitem">
                            <a href="{{ url_for('new_run.new_run_1') }}" class="nav__link">New Run</a>
                        </li>
                        <li class="nav__item " role="menuitem">
                            <a href="{{ url_for('system_info.system_info') }}" class="nav__link">System Info</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    {% endblock %}
</header>

<section id="content">
    {% block content %}
        <!--Manage run page content-->
        <section>

            <div>
                <div class="wrapper">
                    <div class="col-8">
                        <h2 class="jupiter sml-margin">{{ current_run['RUN_NAME'] }} </h2>
                        <h3 class="venus sml-margin buttom_10_extra_space">({{ current_run['RUN_ID'] }}) &nbsp;</h3>
                        <div>
                            <spam><strong>Description: </strong>&nbsp; {{ current_run['RUN_DESC'] }}</spam>
                            <br>
                            <spam><strong>Fieldwork
                                period: </strong>&nbsp; {{ current_run['PERIOD'] }} {{ current_run['YEAR'] }}</spam>
                            <br>
                            <spam><strong>User: </strong>&nbsp;{{ current_run['USER_ID'] }}</spam>
                            <br>
                            <spam><strong>Execution date & time: </strong>&nbsp; {{ current_run['LAST_MODIFIED'] }}
                            </spam>
                            <br>
                            <spam><strong>Run Status: </strong>&nbsp;</spam>
                            {% if current_run['RUN_STATUS'] == 'Ready' %}
                                <em id="current_run_status"
                                    class="status status--success">{{ current_run['RUN_STATUS'] }}</em>
                            {% elif current_run['RUN_STATUS'] == 'Not Started' %}
                                <meta http-equiv="refresh" content="10">
                                <em id="current_run_status"
                                    class="status status--info">{{ current_run['RUN_STATUS'] }}</em>
                            {% elif current_run['RUN_STATUS'] == 'Running' %}
                                <meta http-equiv="refresh" content="10">
                                <em id="current_run_status"
                                    class="status status--info">{{ current_run['RUN_STATUS'] }}</em>
                            {% elif current_run['RUN_STATUS'] == 'Completed' %}
                                <em id="current_run_status"
                                    class="status status--success">{{ current_run['RUN_STATUS'] }}</em>
                            {% elif current_run['RUN_STATUS'] == 'Cancelled' %}
                                <em id="current_run_status"
                                    class="status status--info">{{ current_run['RUN_STATUS'] }}</em>
                            {% elif current_run['RUN_STATUS'] == 'Invalid Run' %}
                                <em id="current_run_status"
                                    class="status status--error">{{ current_run['RUN_STATUS'] }}</em>
                            {% elif current_run['RUN_STATUS'] == 'Failed' %}
                                <em id="current_run_status"
                                    class="status status--error">{{ current_run['RUN_STATUS'] }}</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section>

            <form id="tabs" class="form" method="POST">

                <div class="wrapper">
                    <div class="group">

                        {{ form.csrf_token }}

                        <div class="col-7 top_40_extra_space">
                            <ul class="nav-tabs clearfix u-mb-l" data-tabgroup="first-tab-group">
                                <li class="nav-tabs__tab--active">
                                    <a class="tab-label" href="/manage_run/{{ current_run['RUN_ID'] }}">Manage Run</a>
                                </li>
                                <li class="nav-tabs__tab">
                                    <a class="tab-label" href="/export_data/{{ current_run['RUN_ID'] }}">Export </a>
                                </li>
                            </ul>

                            <table class="table table__dense" id="run_table">

                                <thead class="table--head">
                                <tr>
                                    <th style="width: 75%" class="table--header--cell">&nbsp;&nbsp; &nbsp; &nbsp;Steps
                                    </th>
                                    <th style="width: 20%" class="table--header--cell">Status</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for step in run_status %}
                                    <tr class="table--row">

                                        <td style="width: 80%" class="table--cell">
                                            &nbsp; {{ step['STEP_NUMBER'] }}. &nbsp;{{ step['STEP_NAME'] }}
                                        </td>

                                        <td style="width: 20%" class="table--cell">

                                            <!--If the step has an associated report render the status with a button-->
                                            {% if step['STEP_NUMBER'] in (report_index) and step['STEP_STATUS'] in ('Completed', 'Failed') %}
                                                <button type="button" data-toggle="modal"
                                                        data-target="#myModal{{ step['STEP_NUMBER'] }}">

                                                    {% if step['STEP_STATUS'] == 'Completed' %}
                                                        <em class="status status--info status--small">
                                                            Completed
                                                        </em>
                                                    {% elif step['STEP_STATUS'] == 'Failed' %}
                                                        <em class="status status--error status--small">
                                                            Failed
                                                        </em>
                                                    {% endif %}

                                                </button>
                                                <!--If there is no report just show the status label with on button-->
                                            {% else %}

                                                {% if step['STEP_STATUS'] == 'Ready' %}
                                                    <em class="status status--success status--small">Ready</em>
                                                {% elif step['STEP_STATUS'] == 'Not Started' %}
                                                    <em class="status status--success status--small">Not Started</em>
                                                {% elif step['STEP_STATUS'] == 'Running' %}
                                                    <em class="status status--info status--small">Running</em>
                                                {% elif step['STEP_STATUS'] == 'Completed' %}
                                                    <em class="status status--success status--small">Completed</em>
                                                {% elif step['STEP_STATUS'] == 'Cancelled' %}
                                                    <em class="status status--dead status--small">Cancelled</em>
                                                {% elif step['STEP_STATUS'] == 'Invalid Run' %}
                                                    <em class="status status--dead status--small">Invalid Run</em>
                                                {% elif step['STEP_STATUS'] == 'Failed' %}
                                                    <em class="status status--error status--small">Failed</em>
                                                {% endif %}

                                            {% endif %}

                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

                <div class="wrapper">
                    <div class="group">

                        <div class="grid__col">

                            <div class="top_20_extra_space">
                                {{ form.csrf_token }}

                                <button style="width: 100px;" name="run_button" id="run_button"
                                        class="btn btn--primary btn--border"
                                        type=button onclick="start_run()">Run
                                </button>

                                {{ form.edit_button(class="btn btn--secondary",
                                   style="width: 100px; margin-left: 20px;", type="submit") }}

                            </div>

                        </div>

                    </div>
                </div>
            </form>

        </section>

        {% for step in run_status %}
            <!-- The Modal Object defined by the step number-->
            <div id="myModal{{ step['STEP_NUMBER'] }}" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close" data-dismiss="modal">&times;</span>

                    <u><label>Run Status Report</label></u>
                    <br><br>
                    <label>Step:</label>
                    <input type="text" class="modal-input" id="id_input" VALUE="{{ step['STEP_NAME'] }}"
                           readonly="readonly">
                    <br>
                    <label>Run Status:</label>
                    <input type="text" class="modal-input" id="reason_input" value="{{ step['STEP_STATUS'] }}"
                           readonly="readonly">
                    <br>
                    <label>Report History:</label>
                    <br>
                    <br>
                    {% if step['STEP_NUMBER'] in (report_index) %}
                        {% for rec in reports %}
                            {% if rec['STEP_NUMBER']|int == step['STEP_NUMBER']|int %}
                                {% if rec['RESPONSE_CODE']|int == 1 %}
                                    <label>Success</label>
                                    <textarea data-maxlength="50000" class="modal-input" id="content_input"
                                              readonly="readonly">{{ rec['MESSAGE'] }}
                                        {{ rec['OUTPUT'] }}</textarea>
                                {% elif rec['RESPONSE_CODE']|int == 2 %}
                                    <label>Warning</label>
                                    <textarea data-maxlength="50000" class="modal-input" id="content_input"
                                              readonly="readonly">{{ rec['MESSAGE'] }}
                                        {{ rec['OUTPUT'] }}</textarea>
                                {% elif rec['RESPONSE_CODE']|int == 3 %}
                                    <label>Error</label>
                                    <textarea data-maxlength="50000" class="modal-input" id="content_input"
                                              readonly="readonly">{{ rec['MESSAGE'] }}
                                        {{ rec['OUTPUT'] }}</textarea>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <br><br>
                    <button type="button" class="btn btn--primary" id="modal_okay_button" data-dismiss="modal">Close
                    </button>
                </div>

            </div>
        {% endfor %}

        <section>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
        </section>
    {% endblock %}
</section>

<!--Generic footer is imported from the parent template.-->
<footer class="page__footer">
    {% block footer %}
        {{ super() }}

        <script>

            function start_run() {
                let run_id = '{{ current_run['RUN_ID'] }}';

                console.log("submitting to: " + '/manage_run/start/' + run_id);

                $.ajax({
                    type: "POST",
                    url: '/manage_run/start/' + run_id,
                    data: $("#tabs").serialize(),
                    async: true,
                    success: function (data) {
                        console.log('got return, now do something with: ' + data);
                        $("#current_run_status").text('Running').attr('class', 'status status--success');
                        //$("#current_run_status").attr('class', 'status status--success');

                        // Do something here. For example, the server can return JSON here and you use Js to create the template client-side, or you server can return an HTML fragment and here you append it to a dom node
                    },

                    error: function (error) {
                        console.log('got error: ' + error);
                    }
                });

                $("#run_button").attr("disabled", true);
                $("#edit_button").attr("disabled", true);
                $("#run_button").attr("class", 'btn btn--loader is-loading');

            }

        </script>
    {% endblock %}

</footer>


</body>
</html>
