{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">

<head>
    <title></title>
    <meta charset="utf-8">
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        {{ super() }}

        <script type="text/javascript" src="{{ url_for('static', filename='js/edit-run.js') }}"></script>

    {% endblock %}
</head>

<body>
<!--Header content is imported from the parent template.-->
<header class="page__header">
    <!--Header content is imported from the parent template.-->
    {% block header %}
        {{ super() }}

        <div class="header__nav">
            <div class="container">
                <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu"
                     id="main-nav">
                    <
                    <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                        <li class="nav__item " role="menuitem" aria-current="page">
                            <a href="{{ url_for('dashboard.dashboard_view') }}" class="nav__link">Dashboard</a>
                        </li>
                        <li class="nav__item nav__item--active" role="menuitem">
                            <a href="{{ url_for('new_run.new_run_1') }}" class="nav__link">New Run</a>
                        </li>
                        <li class="nav__item " role="menuitem">
                            <a href="{{ url_for('system_info.system_info') }}" class="nav__link">System Info</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    {% endblock %}
</header>

<section id="content">
    {% block content %}
        <!--New run 5 page content-->
        <section>

            <div class="wrapper">
                <input type="hidden" id="api_target" value="{{ api_target }}">
                <div class="col-8">

                    <div class="group top_40_extra_space">
                        <div>
                            <h2 class="pluto grey_text ">Step 4 of 5 &gt;</h2>
                        </div>
                        <div>
                            <h2 class="saturn">Edit process variables </h2>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <section>

            <div class="wrapper">
                <div class="group top_40_extra_space">
                    <form id="run" name="pv_form" action="{{ url_for('.new_run_4') }}" class="form" method="post">

                        <input name="pv_data" class="hidden-edit-input-content" type="hidden" value="">
                        <label id="rid" style="display:none;">{{ run_id }}</label>

                        <div class="wrapper">
                            <div class="group">
                                <div class="col-8 top_40_extra_space">
                                    {% if table %}
                                        <table id="form_table" class="table table__dense paginate" paginate="w_p">
                                        <thead class="table--head">
                                        <tr>
                                            <th class="table--header--cell">PV Name</th>
                                            <th class="table--header--cell">PV Reason</th>
                                            <th class="table--header--cell">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- for each record, render each data value-->
                                        {% for record in table %}
                                            <tr class="table--row">

                                                <td style="vertical-align: middle;"
                                                    class="table--cell">{{ record['PV_NAME'] }}</td>
                                                <td style="vertical-align: middle;"
                                                    class="table--cell">{{ record['PV_DESC'] }} </td>

                                                {% for var in pv_variables %}
                                                    {% if var['PV_ID'] == record['PROCESS_VARIABLE_ID'] %}
                                                        <td style="display:none; "
                                                            class="pv_var">{{ var['Name'] }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for expression in builds %}
                                                    {% if expression['pv'] == record['PROCESS_VARIABLE_ID'] %}
                                                        <td style="display:none; " class="pv_build"
                                                            block="{{ expression['block'] }}"
                                                            expression="{{ expression['expression'] }}"
                                                            const="{{ expression['const'] }}"
                                                            var='{{ expression["var"] }}'
                                                            opp="{{ expression['opp'] }}"
                                                            val="{{ expression['val'] }}"
                                                            command="{{ expression['command'] }}"></td>
                                                    {% endif %}
                                                {% endfor %}


                                                <td style="display:none;"
                                                    class="table--cell pv_def">{{ record['PV_DEF'] }}
                                                </td>
                                                <!--<td name="{{record['PV_CONTENT']}}" value="{{record['PV_CONTENT']}}" class="table&#45;&#45;cell">{{record['PV_CONTENT']}}</td>-->

                                                <!--Give the button a class so that we can call it via javascript, attach ID attribute-->
                                                <td class="table--cell">
                                                    <button class="btn btn--small pv-edit-button"
                                                            id={{ record['PV_NAME'] }} pvid={{ record['PROCESS_VARIABLE_ID'] }}>
                                                        Edit
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    {% else %}
                                        <div class="top_50_extra_space">
                                            <div class="panel panel--simple panel--info">
                                                <div class="panel__body">
                                                    <p class="mars">No Records to show...</p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </table>
                                </div>

                                <div class="wrapper">
                                    <div class="group">
                                        <div class="col-6 table-pagination-extra-padding">
                                                <span id="w_p">
                                                    1 to 10 of 267 &nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;
                                                    <a href="#">2</a>&nbsp;
                                                    <a href="#">3</a>&nbsp;
                                                    <a href="#">4</a>&nbsp;
                                                    <a href="#">5</a>&nbsp;
                                                    <a href="#">6</a>&nbsp;
                                                    <a href="#">7</a>&nbsp;
                                                    <a href="#">8</a>&nbsp;
                                                    <a href="#">9</a>&nbsp;
                                                    <a href="#">10</a>&nbsp;
                                                    <a href="#">Next</a>&nbsp;
                                                </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="top_50_extra_space">
                                <div class="btn-group">
                                    <button class="btn btn-group__btn" id="savec">Save and continue</button>

                                    <button class="btn btn-group__btn btn--secondary" type="button">
                                        <a style="text-decoration: none;"
                                           href="{{ url_for('.new_run_3') }}">Back
                                        </a>
                                    </button>

                                    <button class="btn btn-group__btn btn--secondary" type="button">
                                        <a style="text-decoration: none;"
                                           href="{{ url_for('dashboard.dashboard_view') }}">Cancel
                                        </a>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </section>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Edit a process variable</h2>
                <!--Three inputs with different ID's-->
                <label for="id_input">Name:</label>
                <input type="text" class="modal-input" id="id_input" disabled placeholder="">
                <br>
                <label for="content_input">Content:</label>
                <textarea data-maxlength="50000" class="modal-input" disabled id="content_input"></textarea>
                <br>
                <label>Builder:</label>
                <br>
                <div id="builder"></div>
                <br><br>
                <button type="button" class="btn btn--primary" id="modal_okay_button">Ok</button>

            </div>

        </div>

        <section>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
        </section>

    {% endblock %}
</section>

<!--Generic footer is imported from the parent template.-->
<footer class="page__footer">
    {% block footer %}
        {{ super() }}
    {% endblock %}
</footer>

</body>
</html>
