{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">

<head>
    <title></title>
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        {{ super() }}
    {% endblock %}

</head>

<body>

<!--Header content is imported from the parent template.-->
<header class="page__header">
    <!--Header content is imported from the parent template.-->
    {% block header %}
        {{ super() }}
    {% endblock %}
</header>

<section id="content">
    {% block content %}
        <style>
            td {
                border: 0;
                border-bottom: none;
            }

            .input--radio2 {
                margin-left: .95rem;
            }
        </style>
        <!--New run 4 content-->
        <section>
            <div class="container">
                <p><a id="previous-link" href="{{ url_for('.new_run_1') }}/{{ run_id }}">Previous</a></p>

                <h1>Process Variable Set</h1>
                <form id="run" action="{{ url_for('.new_run_3', run_id=run_id) }}" class="form" method="post">
                    <table class="table">
                        {% if table %}
                            <caption class="table__caption">Choose a Process Variable set from the table below</caption>
                            <thead class="table__head">
                            {% for column in header %}
                                <th class="table__header"> {{ column | replace('_', ' ') | title }} </th>
                            {% endfor %}
                            <th class="table__header">Select</th>
                            </thead>
                            <tbody>
                            <!-- for each record, render each data value -->
                            {% for record in table %}
                                <tr class="table__row">
                                    <td style="width: 38%"
                                        class="table__cell">{{ record['RUN_ID'] }} </td>
                                    <td style="width: 15%"
                                        class="table__cell">{{ record['NAME'] }} </td>
                                    <td style="width: 17%" class="table__cell">{{ record['USER'] }}</td>
                                    <td style="width: 12%"
                                        class="table__cell">{{ record['PERIOD'] }}</td>
                                    <td style="width: 5%" class="table__cell">{{ record['YEAR'] }}</td>
                                    <td style="width: 10%" class="table__cell field__item2">
                                        {% if pv_set_id %}
                                            <label>
                                            {% if record['RUN_ID'] == pv_set_id %}
                                                <input class="input--radio2" type="radio"
                                                       name="selected" checked
                                                       value={{ record['RUN_ID'] }}>
                                            {% else %}
                                                <input class="input--radio2" type="radio"
                                                       name="selected" value={{ record['RUN_ID'] }}>
                                            {% endif %}
                                        {% else %}
                                            {% if record['RUN_ID'] == "Template" %}
                                                <input class="input--radio2" type="radio"
                                                       name="selected" checked
                                                       value={{ record['RUN_ID'] }}>
                                            {% else %}
                                                <input class="input--radio2" type="radio"
                                                       name="selected" value={{ record['RUN_ID'] }}>

                                            {% endif %}
                                        {% endif %}
                                        </label>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <div class="top_50_extra_space">
                                <div class="panel panel--simple panel--info">
                                    <div class="panel__body">
                                        <p class="mars">No records available... </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </table>

                    <div class="top_50_extra_space">
                        <div class="btn-group">
                            <button class="btn btn--primary" style="margin-right: 1rem" id="save_and_continue" autofocus  type="submit" name="submit" value="create_run"><span class="btn__inner">Save and continue</span></button>
                            <a class="btn btn-group__btn btn--secondary" style="text-decoration: none; " href="{{ url_for('dashboard.dashboard_view') }}"><span class="btn__inner">Cancel</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
        </section>

    {% endblock %}

</section>

<!--Generic footer is imported from the parent template.-->
<footer class="page__footer">
    {% block footer %}
        {{ super() }}
    {% endblock %}
</footer>

</body>
</html>
