{% extends "layout.html" %}
<html lang="en-gb" dir="ltr" class="no-js">

<head>
    <title></title>
    <meta charset="utf-8">
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        {{ super() }}

        <script type="text/javascript" src="{{ url_for('static', filename='js/edit-run.js')+"?v1.0.0" }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pv.js')+"?v1.0.0" }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.contextMenu.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.ui.position.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextMenu.min.css') }}">
    {% endblock %}
</head>

<body>
<!--Header content is imported from the parent template.-->
<header class="page__header">
    <!--Header content is imported from the parent template.-->
    {% block header %}
        {{ super() }}

        <div class="header__nav">
            <div class="container">
                <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu"
                     id="main-nav">
                    <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                        <li class="nav__item " role="menuitem" aria-current="page">
                            <a href="{{ url_for('dashboard.dashboard_view') }}" class="nav__link">Dashboard</a>
                        </li>
                        <li class="nav__item nav__item--active" role="menuitem">
                            <a id="new_run_link" href="{{ url_for('new_run_steps.new_run_1') }}" class="nav__link">New Run</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    {% endblock %}
</header>

<section id="content">
    {% block content %}
        <!--New run 5 page content-->
        <section>

            <div class="wrapper">
                <input type="hidden" id="api_target" value="{{ api_target }}">
                <div class="col-8">

                    <div class="group top_40_extra_space">
                        <div>
                            <nav class="nav nav--inline nav--page" role="menu">
                                <div>
                                    <ul class="nav__list" aria-label="Section navigation menu">
                                        <li class="nav__item u-fs-s">
                                            <a class="nav__link " href="{{ url_for('.new_run_1', run_id=run_id) }}" role="menuitem">Run Details</a>
                                            <span style="margin-left: 1rem"> > </span>
                                        </li>
                                        <li class="nav__item u-fs-s">
                                            <a class="nav__link " href="{{ url_for('.new_run_2', run_id=run_id) }}" role="menuitem">Fieldwork Details</a>
                                            <span style="margin-left: 1rem"> > </span>
                                        </li>
                                        <li class="nav__item u-fs-s">
                                            <a class="nav__link " href="{{ url_for('.new_run_3', run_id=run_id) }}" role="menuitem">PV Set</a>
                                            <span style="margin-left: 1rem"> > </span>
                                        </li>
                                        <li class="nav__item u-fs-s">
                                            <a class="nav__link nav__link--current" disabled="true" aria-current="location" role="menuitem">Edit PVs</a>
                                            <span style="margin-left: 1rem"> > </span>
                                        </li>
                                        <li class="nav__item u-fs-s">
                                            <a class="nav__link " href="{{ url_for('.new_run_5', run_id=run_id) }}" role="menuitem">Data Import</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <section>

            <div class="wrapper">
                <div class="group top_40_extra_space">
                    <br>
                    <br>
                    <div class="col-8" id="error-panel-placeholder"></div>

                    <form id="run" name="pv_form" action="{{ url_for('.new_run_4') }}" class="form" method="post">

                        <input name="pv_data" class="hidden-edit-input-content" type="hidden" value="">
                        <label id="rid" style="display:none;">{{ run_id }}</label>

                        <div class="wrapper">
                            <div class="group">
                                <div class="col-8 top_40_extra_space">
                                    {% if table %}
                                        <table id="form_table" class="table table__dense">
                                        <thead class="table--head">
                                        <tr>
                                            <th class="table--header--cell">PV Name</th>
                                            <th class="table--header--cell">PV Reason</th>
                                            <th class="table--header--cell">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- for each record, render each data value-->
                                        {% for record in table %}
                                            <tr class="table--row" index="{{ record['PROCESS_VARIABLE_ID'] }}" id="pv_{{ record['PROCESS_VARIABLE_ID'] | replace(".0","") }}">

                                                <td style="vertical-align: middle;"
                                                    class="table--cell">{{ record['PV_NAME'] }}</td>
                                                <td style="vertical-align: middle;"
                                                    class="table--cell">{{ record['PV_DESC'] }} </td>
                                                <td style="display:none;"
                                                    class="table--cell pv_def">{{ record['PV_DEF'] }}
                                                </td>
                                                <!--<td name="{{record['PV_CONTENT']}}" value="{{record['PV_CONTENT']}}" class="table&#45;&#45;cell">{{record['PV_CONTENT']}}</td>-->

                                                <!--Give the button a class so that we can call it via javascript, attach ID attribute-->
                                                <td class="table--cell">
                                                    <button class="btn btn--small pv-edit-button"
                                                            id={{ record['PV_NAME'] }} pvid={{ record['PROCESS_VARIABLE_ID'] }}>
                                                        Edit
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    {% else %}
                                        <div class="top_50_extra_space">
                                            <div class="panel panel--simple panel--info">
                                                <div class="panel__body">
                                                    <p class="mars">No Records to show...</p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </table>
                                </div>
                            </div>

                            <div class="col-8">
                                <div class="top_50_extra_space">

                                    <!-- Validation Loading Panel -->
                                    <div id="pv-validation-panel-loading" class="panel panel--simple panel--info">
                                        <div class="panel__body">
                                            <div>PV Validation In Progress...
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Successful Validation Panel -->
                                    <div hidden id="pv-validation-panel-success" class="panel panel--simple panel--success">
                                        <div class="panel__body">
                                            <div>PV Validation Successful
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Failed Validation Panel -->
                                    <div hidden id="pv-validation-panel-error" class="panel panel--simple panel--error">
                                        <div class="panel__body">
                                            <p>PV Validation Failed <a href="#error-panel-placeholder">View Error</a></p>
                                        </div>
                                    </div>
                                    <br>
                                    <br>

                                    <div class="btn-group" id="form-button-group">
                                        <button hidden class="btn btn-group__btn" id="btn-continue"
                                                style="margin-right: 1rem">Continue
                                        </button>
                                        <a class="btn btn-group__btn btn--secondary" style="text-decoration: none; "
                                           href="{{ url_for('.new_run_3', run_id=run_id) }}">Back</a>
                                        <a class="btn btn-group__btn btn--secondary" style="text-decoration: none; "
                                           href="{{ url_for('dashboard.dashboard_view') }}">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </section>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Edit a process variable</h2>
                <!--Three inputs with different ID's-->
                <label for="id_input">Name:</label>
                <input type="text" class="modal-input" id="id_input" disabled placeholder="">
                <br>
                <label>Builder:</label>
                <br>
                <div id="builder"></div>
                <br><br>
                <div class="btn-group">
                    <button type="button" class="btn btn-group__btn btn--primary" id="modal_okay_button">Save</button>
                    <button type="button" class="btn btn-group__btn btn--secondary" id="cancel">Cancel</button>
                </div>
            </div>

        </div>

        <div class="pv_cm">
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
            <div class="pv_cm_item"></div>
        </div>

        <section>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
        </section>


    {% endblock %}
</section>

<!--Generic footer is imported from the parent template.-->
<footer class="page__footer">
    {% block footer %}
        {{ super() }}
    {% endblock %}
</footer>

</body>
</html>

