{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
    <head>
        <!--Styles are imported from the parent template.-->
        {% block styles %}
            {{ super() }}

	        <script type="text/javascript" src="../../../../../static/js/edit-run.js"></script>
        {% endblock %}
    </head>

    <body>
		<!--Header content is imported from the parent template.-->
        <header class="page__header">
            <!--Header content is imported from the parent template.-->
            {% block header %}
                {{ super() }}

				<div class="header__nav">
					<div class="container">
						<nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu" id="main-nav">
							<ul class="nav__list" aria-label="Navigation menu" role="menubar">
								<li class="nav__item " role="menuitem" aria-current="page">
									<a href="/dashboard" class="nav__link">Dashboard</a>
								</li>
								<li class="nav__item " role="menuitem">
									<a href="/new_run/new_run_1" class="nav__link">New Run</a>
								</li>
								<li class="nav__item " role="menuitem">
									<a href="/system_info" class="nav__link">System Info</a>
								</li>
								<li class="nav__item nav__item--active" role="menuitem">
									<a href="#" class="nav__link">Other</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
            {% endblock %}
        </header>

        <section id="content">
            {% block content %}
                <!--Reference export content-->
                <section>

                    <div>
                        {% if new_export == "1"%}
                            </div>
                                <div class="collator-item">
                                    <h2 class="collator-title">Success</h2>

                                    <!-- Start: @panel--success -->
                                    <div class="panel panel--success">
                                        <div class="panel__header">
                                            <div class="venus">Success</div>
                                        </div>
                                        <div class="panel__body">
                                            <div>{{msg}}</div>
                                        </div>
                                    </div>
                        {% endif %}

                        {% if new_export == "2"%}
                            <div class="collator-item">
                                <h2 class="collator-title">Error</h2>

                                <!-- Start: @panel--error -->
                                <div class="panel panel--error">
                                    <div class="panel__header">
                                        <div class="venus">Error</div>
                                    </div>
                                    <div class="panel__body">
                                        <p class="mars">{{msg}}</p>
                                        <!--<ul class="list list&#45;&#45;bare">-->
                                            <!--<li class="list__item mars">-->
                                                <!--1) <a class="js-inpagelink" href="#1">Select an answer to continue.</a>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    </div>
                                </div>
                            </div>
                    <!-- End: @panel--error -->
                        {% endif %}
                            <div>
                        <div class="wrapper">
                            <div class="group top_50_extra_space">
                                <div class="col-8">
                                    <h2 class="jupiter sml-margin">{{current_run['RUN_NAME']}} </h2>
                                    <h3 class="venus sml-margin buttom_10_extra_space">({{current_run['RUN_ID']}}) &nbsp;</h3>
                                    <div>
                                        <spam><strong>Description: </strong>&nbsp; {{current_run['RUN_DESC']}}</spam>
                                        <br>
                                        <spam><strong>Field Work dates: </strong>&nbsp; {{current_run['START_DATE']}} - {{current_run['END_DATE']}}</spam>
                                        <br>
                                        <spam><strong>User: </strong>&nbsp;{{current_run['USER_ID']}}</spam>
                                        <br>
                                        <spam><strong>Execution date & time: </strong>&nbsp;(Placeholder) 19-10-2017 | 12:05pm</spam>
                                        <br>
                                        <spam><strong>Run Status: </strong>&nbsp;</spam>
                                        {% if current_run['RUN_STATUS'] == 'Ready' %}
                                            <em class="badge-status badge--no-started">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_run['RUN_STATUS']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>
                                        {% elif current_run['RUN_STATUS'] == 'In Progress' %}
                                            <em class="badge-status badge--pending">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_run['RUN_STATUS']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>
                                        {% elif current_run['RUN_STATUS'] == 'Completed' %}
                                            <em class="badge-status badge--completed">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_run['RUN_STATUS']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>
                                        {% elif current_run['RUN_STATUS'] == 'Failed' %}
                                            <em class="badge-status badge--pending">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_run['RUN_STATUS']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                </section>

                <section>

                    <form id="run" action="/reference_export/{{current_run['RUN_ID']}}" class="form" method="POST">

                        <div class="wrapper">
                            <div class="group">
                                <div class="col-7 top_40_extra_space">

                                <ul class="nav-tabs clearfix u-mb-l" data-tabgroup="first-tab-group">
                                    <li class="nav-tabs__tab"><a class="tab-label" href="/manage_run/{{current_run['RUN_ID']}}">Manage Run</a></li>
                                    <li class="nav-tabs__tab--active"><a class="tab-label" href="/reference_export/{{current_run['RUN_ID']}}">Export</a></li>
                                </ul>
                                    <table class="table table__dense">
                                        <thead class="table--head">
                                            <th width="30%" class="table--header--cell">&nbsp;&nbsp;Filename</th>
                                            <th width="30%" class="table--header--cell">&nbsp;&nbsp;Source Data</th>
                                        </thead>
                                    <tbody>
                                        {% for value in data[0] %}
                                        <tr class="table--row">
                                            <td width="30%" class="table--cell">&nbsp; <a href="/download_data/{{current_run['RUN_ID']}}/{{value['FILENAME']}}/{{value['SOURCE_TABLE']}}">{{ value['FILENAME'] }}.csv</a></td>
                                            <td width="30%" class="table--cell">  {{ value['SOURCE_TABLE'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>



                                    </table>
                                </div>
                            </div>

                            <div class="wrapper">
                                <div class="col-8 top_10_extra_space">

                                        <div class="field">
                                            <!--<label class="label" for="text-input">No data has been exported</label>-->
                                        </div>

                                        <div class="top_30_extra_space">
                                            <button class="btn btn--primary" type="submit">Generate New Export</button>
                                        </div>

                                </div>
                            </div>

                        </div>

                    </form>

                </section>

                <section>
                    <div class="buttom_70_extra_space buttom_70_extra_space">
                        <table></table>
                    </div>
                    <div class="buttom_70_extra_space buttom_70_extra_space">
                        <table></table>
                    </div>
                </section>

            {% endblock %}
        </section>

        <!--Generic footer is imported from the parent template.-->
        <footer class="page__footer">
            {% block footer %}
                {{ super() }}
            {% endblock %}
        </footer>

    </body>
</html>
