{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <!--Styles are imported from the parent template.-->
    {% block styles %}
        {{ super() }}

        <script type="text/javascript" src="../../../../../static/js/edit-run.js"></script>
    {% endblock %}
</head>

<body>
<!--Header content is imported from the parent template.-->
<header class="page__header">
    <!--Header content is imported from the parent template.-->
    {% block header %}
        {{ super() }}

        <div class="header__nav">
            <div class="container">
                <nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu"
                     id="main-nav">
                    <ul class="nav__list" aria-label="Navigation menu" role="menubar">
                        <li class="nav__item " role="menuitem" aria-current="page">
                            <a href="{{ url_for('dashboard.dashboard_view') }}" class="nav__link">Dashboard</a>
                        </li>
                        <li class="nav__item nav__item--active" role="menuitem">
                            <a href="{{ url_for('new_run_steps.new_run_1') }}" class="nav__link">New Run</a>
                        </li>
                        <li class="nav__item " role="menuitem">
                            <a href="{{ url_for('system_info.system_info') }}" class="nav__link">System Info</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endblock %}
</header>

<section id="content">
    {% block content %}
        <!--Weights 2 page content-->

        <section>

            <div class="wrapper">
                <div class="col-8">

                    <div class="group top_40_extra_space">
                        <div>
                            <h2 class="saturn">Display weights </h2>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <section>

            <div class="wrapper">
                <div class="col-8 top_40_extra_space">

                    <form id="run" action="/export_data/{{ run_id }}/{{ file_name }}/{{ table_name }}" class="form"
                          method="POST">

                        <div class="field">
                            <label class="label venus " for="text-input">{{ table_title }} </label>

                            <table class="table table__dense paginate" paginate="w_p">
                                {% if table.values.any() %}
                                    <thead class="table--head">
                                    {% for column in table.columns.values %}
                                        <th class="table--header--cell"> {{ column | replace('_', ' ') | title }} </th>
                                    {% endfor %}
                                    </thead>
                                    <tbody>
                                    {% for index, row in table.iterrows() %}
                                        <tr class="table--row">
                                            {% for val in row %}
                                                <td width="20%" class="table--cell">&nbsp;&nbsp;{{ val }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                {% else %}
                                    <div class="top_50_extra_space">
                                        <div class="panel panel--simple panel--info">
                                            <div class="panel__body">
                                                <p class="mars">No Records to show... </p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}

                            </table>

                        </div>

                        <div class="wrapper">
                            <div class="group">
                                <div class="col-8 table-pagination-extra-padding">
                                            <span id="w_p">
                                                1 to 10 of 267 &nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;
                                                <a href="#">2</a>&nbsp;
                                                <a href="#">3</a>&nbsp;
                                                <a href="#">4</a>&nbsp;
                                                <a href="#">5</a>&nbsp;
                                                <a href="#">6</a>&nbsp;
                                                <a href="#">7</a>&nbsp;
                                                <a href="#">8</a>&nbsp;
                                                <a href="#">9</a>&nbsp;
                                                <a href="#">10</a>&nbsp;
                                                <a href="#">Next</a>&nbsp;
                                            </span>
                                </div>
                            </div>
                        </div>

                        <div class="top_50_extra_space">
                            <button class="btn btn--primary" type="submit">Export data</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label><a
                                href="/manage_run/weights/{{ run_id }}">Close</a></label>
                        </div>

                    </form>

                </div>
            </div>

        </section>

        <section>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
            <div class="buttom_70_extra_space buttom_70_extra_space">
                <table></table>
            </div>
        </section>

    {% endblock %}
</section>

<!--Generic footer is imported from the parent template.-->
<footer class="page__footer">
    {% block footer %}
        {{ super() }}
    {% endblock %}
</footer>
</body>
</html>
