{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
    <head>
        <!--Styles are imported from the parent template.-->
        {% block styles %}
            {{ super() }}

	        <script type="text/javascript" src="../../../../../static/js/edit-run.js"></script>
        {% endblock %}
    </head>

    <body>

        <!--<script src="https://cdn.ons.gov.uk/sdc/322aece/scripts/bundle.min.js" ></script>-->

		<!--Header content is imported from the parent template.-->
        <header class="page__header">
            <!--Header content is imported from the parent template.-->
            {% block header %}
                {{ super() }}

				<div class="header__nav">
					<div class="container">
						<nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu" id="main-nav">
							<ul class="nav__list" aria-label="Navigation menu" role="menubar">
								<li class="nav__item " role="menuitem" aria-current="page">
									<a href="/dashboard" class="nav__link">Dashboard</a>
								</li>
								<li class="nav__item " role="menuitem">
									<a href="/new_run/new_run_1" class="nav__link">New Run</a>
								</li>
								<li class="nav__item " role="menuitem">
									<a href="/system_info" class="nav__link">System Info</a>
								</li>
								<li class="nav__item nav__item--active" role="menuitem">
									<a href="#" class="nav__link">Other</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
            {% endblock %}
        </header>

        <section id="content">
            {% block content %}
                <!--Weights page content-->
                <section>

                    <div class="wrapper">
                        <div class="col-8">

                            <div class="group top_40_extra_space">
                                <div>
                                    <h2 class="saturn">Display weights for <i>'{{current_run['RUN_NAME']}}'</i></h2>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>

                <section>
                    <div class="wrapper">
                        <div class="col-8 top_40_extra_space">

                            <form id="run" action="/manage_run/weights/{{current_run['RUN_ID']}}" class="form" method = 'POST'>

                                {% if form.data_selection.errors %}
                                    <div class="collator-item">
                                        <h2 class="collator-title"></h2>
                                        <!-- Start: @panel--error -->
                                        <div class="panel panel--error">
                                            <div class="panel__header">
                                                <div class="venus">Error</div>
                                            </div>
                                            <div class="panel__body">
                                                <p class="mars">Please select a valid output.</p>
                                            </div>
                                        </div>
                                        <!-- End: @panel--error -->
                                    </div>
                                {% endif %}


                                <div class="field">
                                    {{ form.csrf_token }}
                                    {{ form.data_selection.label(class="label venus ", for="text-input")}}
                                    {{ form.data_selection(class="input input--select", type="submit")}}

                                    {% if form.data_selection.errors %}
                                        <ul>
                                            {% for error_message in form.data_selection.errors %}
                                            <li style = "color:red;">{{ error_message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    <!--<label class="label venus " for="text-input">Select weight </label>-->
                                    <!--<select class="input input&#45;&#45;select" id="input-weight_selection" name="weight_selection">-->
                                        <!--<option disabled="disabled" value="" selected="selected">Select</option>-->
                                        <!--<option value="SHIFT_DATA">Shift data</option>-->
                                        <!--<option value="Traffic data">Traffic data</option>-->
                                        <!--<option value="Non response data">Non response data</option>-->
                                        <!--<option value="Tunnel data">Tunnel data</option>-->
                                        <!--<option value="Air data">Air data</option>-->
                                        <!--<option value="Sea data">Sea data</option>-->
                                        <!--<option value="UNSAMPLED_OOH_DATA">Unsampled data</option>-->
                                        <!--<option value="Shift weight summary">Shift weight summary</option>-->
                                        <!--<option value="Non response weight summary">Non response weight summary</option>-->
                                        <!--<option value="Minimums weight summary">Minimums weight summary</option>-->
                                        <!--<option value="Sampled traffic weight summary">Sampled traffic weight summary</option>-->
                                        <!--<option value="Unsampled traffic weight summary">Unsampled traffic weight summary</option>-->
                                        <!--<option value="Imbalance weight summary">Imbalance weight summary</option>-->
                                        <!--<option value="Final weight summary">Final weight summary</option>-->
                                    <!--</select>-->
                                </div>

                                <div class="top_50_extra_space">
                                    {{ form.display_data(class="btn btn--primary", type="submit") }}
                                    <!--<button class="btn btn&#45;&#45;primary" type="submit">Display data</button>-->
                                    <!--
                                    <button class="btn btn--neutral">Cancel</button>
                                    -->
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label><a href="/manage_run/{{current_run['RUN_ID']}}">Cancel</a></label>
                                </div>

                            </form>

                        </div>
                    </div>
                </section>

                <section>
                    <div class="buttom_70_extra_space buttom_70_extra_space">
                        <table></table>
                    </div>
                    <div class="buttom_70_extra_space buttom_70_extra_space">
                        <table></table>
                    </div>
                </section>

            {% endblock %}
        </section>

        <!--Generic footer is imported from the parent template.-->
        <footer class="page__footer">
            {% block footer %}
                {{ super() }}
            {% endblock %}
        </footer>

    </body>
</html>
