<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Legacy prototype</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="apple-touch-icon" sizes="180x180" href="../../../../../../static/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../../../../../static/img/favicons/manifest.json">
  	<link rel="mask-icon" href="../../../../../static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css'>
	<link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/322aece/css/styles.css">
	<link rel="stylesheet" href="../../../../../static/css/legacy-main.css" media="all">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../../static/js/industry-range.js"></script>
</head>

<body>

<script src="https://cdn.ons.gov.uk/sdc/322aece/scripts/bundle.min.js" ></script>

<header class="page__header">

	<div class="logo_container">
		<div class="wrapper">
			<div class="group">
				<div class="col-7">
					<div class="logo_header">
						<a href="../hub.html"><img src="../../../../img/logo.svg" alt="Office for National Statistics" class="logo__img"/></a>
					</div>
				</div>
				<div class="col-5">
					<div class="header_links">
						<ul class="menubar" role="menubar" id="appmenu">
							<li role="menuitem"><a href="" class="username">John Smith</a></li>
							<li class="menubar" role="menuitem"><a href="../../login.html" class="username">Sign out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="group">
				<div class="col-12">
					<div><h1 class="jupiter main_heading">Social Surveys</h1></div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="bar bar__sitenavigation not-mvpx top_15_extra_space" role="banner">
		        <div class="bar__inner container">
		            <div class="sitenavigation">
		              	<div class="sitenavigation">
		                	<ul class="sitenavigation__list">
			                    <li class="sitenavigation__listitem">
			                    	<a href="/dashboard">Dashboard</a>
			                    </li>
			                    <li class="sitenavigation__listitem">
			                    	<a href="#">New run</a>
			                    </li>
			                    <li class="sitenavigation__listitem">
			                    	<a href="/system_info">System info</a>
			                    </li>
			                    <li class="sitenavigation__listitem sitenavigation__listitem--active">
			                    	<a href="#">Other</a>
			                    </li>
			                </ul>
		              	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

</header>

<section>
	<div class="wrapper">
		<div class="col-8">
			<div class="group top_40_extra_space">
				<div>
					{% if data == "0"%}
						<div class="collator-item">
							<!-- Start: @panel--error -->
							<div class="panel panel--error">
								<div class="panel__header">
									<div class="venus">Error</div>
								</div>
								<div class="panel__body">
									<p class="mars">There is no data to export.  Please select a different export.</p>
								</div>
							</div>
						</div>
					{% endif %}

				</div>
			</div>


			<div class="group top_40_extra_space">
				<div>
					<h2 class="saturn">Export Data for <i>'{{current_run['name']}}'</i></h2>
				</div>
			</div>

	  	</div>
	</div>


</section>

<section>

	<div class="wrapper">
		<div class="col-8 top_40_extra_space">

			<form id="run" action="/export_data/{{current_run['id']}}" class="form" method="post">

				<div class="field">
					{{ form.csrf_token }}
					{{ form.data_selection.label(class="label venus ", for="text-input")}}
					{{ form.data_selection(class="input input--select", type="submit")}}

					{% if form.data_selection.errors %}
					<ul>
						{% for error_message in form.data_selection.errors %}
						<li>{{ error_message }}</li>
						{% endfor %}
					</ul>
					{% endif %}

				</div>

				<div class="field">
					{{ form.csrf_token }}
					{{ form.filename.label(class="label venus ", for="text-input") }}
					{{ form.filename(class="input input--text", type="text", id="text-input") }}

					{% if form.filename.errors %}
					<ul>
						{% for error_message in form.filename.errors %}
						<li>{{ error_message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>

				<div class="top_50_extra_space">
					{{ form.csrf_token }}
					{{ form.display_data(class="btn btn--primary", type="submit") }}
					&nbsp;&nbsp;&nbsp;&nbsp;
					{{ form.cancel_button(class="btn btn--secondary", type="submit") }}
				</div>

			</form>

		</div>
	</div>

</section>

<section>
	<div class="buttom_40_extra_space buttom_40_extra_space">
		<table></table>
	</div>
	<div class="buttom_40_extra_space buttom_40_extra_space">
		<table></table>
	</div>
</section>

<footer class="page__footer">

	<div class="wrapper">
		<div class="group">
			<div class="col-12">
				<span class="new">This release is in development. Your <a href="mailto:ramon.delgado@ext.ons.gov.uk?Subject=User%20feedback"> feedback</a> will help us improve it.</span>
			</div>
		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js'></script>


<script>
	jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>


<script>
$('.ui.dropdown').dropdown();
</script>


<script type="text/javascript">

window.onload = function(){

  var form = document.getElementById("form-sign-in");

  form.onsubmit = function(e) {
    e.preventDefault();
    var userInput = document.getElementById('text-input').value;

    if (userInput.includes('123')) {

      window.location = 'contributor.html';

    } else if (userInput.includes('cme')) {
      window.location = 'search_results.html';
    }
    return false;
  }
};

</script>​


</footer>

</body>
</html>