{% extends "layout.html" %}

<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
    <head>
        <!--Styles are imported from the parent template.-->
        {% block styles %}
            {{ super() }}
        {% endblock %}
    </head>

    <body>

        <!--<script src="https://cdn.ons.gov.uk/sdc/322aece/scripts/bundle.min.js" ></script>-->

		<!--Header content is imported from the parent template.-->
        <header class="page__header">
            <!--Header content is imported from the parent template.-->
            {% block header %}
                {{ super() }}

				<div class="header__nav">
					<div class="container">
						<nav class="nav nav--horizontal nav--light nav--main nav--h-m js-main-nav" aria-label="Main menu" id="main-nav">
							<ul class="nav__list" aria-label="Navigation menu" role="menubar">
								<li class="nav__item " role="menuitem" aria-current="page">
									<a href="/dashboard" class="nav__link">Dashboard</a>
								</li>
								<li class="nav__item nav__item--active" role="menuitem">
									<a href="/new_run/new_run_1" class="nav__link">New Run</a>
								</li>
								<li class="nav__item " role="menuitem">
									<a href="/system_info" class="nav__link">System Info</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

            {% endblock %}
        </header>

        <section id="content">
            {% block content %}
                <!--New run 1 page content-->

                <section>

                    <div class="wrapper">
                        <div class="col-8">

                            <div class="top_50_extra_space">
                                <div class="panel panel--simple panel--info">
                                    <div class="panel__body">
                                        {% if run_id %}
                                            <p class="mars">You are editing run: {{run_id}} </p>
                                        {% else %}
                                            <p class="mars">You are creating a new IPS run. </p>
                                        {% endif%}
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            {% if form.run_name.errors or form.run_description.errors %}
                                <div class="collator-item">
                                    <h2 class="collator-title"></h2>
                                    <!-- Start: @panel--error -->
                                    <div class="panel panel--error">
                                        <div class="panel__header">
                                            <div class="venus">Error</div>
                                        </div>
                                        <div class="panel__body">
                                            <p class="mars">Please enter a valid run name and description.</p>
                                        </div>
                                    </div>
                                    <!-- End: @panel--error -->
                                </div>
                            {% endif %}
                            <div class="group top_40_extra_space">
                                <div>
                                    <h2 class="pluto grey_text ">Step 1 of 5 </h2>
                                </div>
                                <div>
                                    <h2 class="saturn">Run details </h2>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>

                <section>

                    <div class="wrapper">
                        <div class="col-8 top_40_extra_space">
                            {% if run_id %}
                            <form id="run" action="/new_run/new_run_1/{{run_id}}" class="form" method="post">
                            {% else %}
                            <form id="run" action="/new_run/new_run_1" class="form" method="post">
                            {% endif %}
                                <div class="field">
                                    {{ form.csrf_token }}
                                    {{ form.run_name.label(class="label venus ", for="text-input")}}
                                    {% if form.run_name.default %}
                                        {{ form.run_name(class="input input--text", type="text", id="text-input", placeholder="Enter run name", maxlength="30", value=form.run_name.default)}}
                                    {% else %}
                                        {{ form.run_name(class="input input--text", type="text", id="text-input", placeholder="Enter run name", maxlength="30")}}
                                    {% endif %}
                                    {% if form.run_name.errors %}
                                    <ul>
                                        {% for error_message in form.run_name.errors %}
                                        <li style = "color:red;">{{ error_message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                </div>

                                <br>

                                <div class="answer__fields js-fields">
                                    {{ form.run_description.label(class="label venus ", for="text-input")}}
                                    {% if form.run_description.default %}
                                        {{ form.run_description(class="input input--textarea js-charlimit-input",cols="60",rows="6",id="textarea-answer",maxlength="200",value=form.run_description.default)}}
                                    {% else %}
                                        {{ form.run_description(class="input input--textarea js-charlimit-input",cols="60",rows="6",id="textarea-answer",maxlength="200", placeholder="Enter run Description...")}}
                                    {% endif %}
                                    {% if form.run_description.errors %}
                                    <ul>
                                        {% for error_message in form.run_description.errors %}
                                        <li style = "color:red;">{{ error_message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="input__limit u-mt-xs mercury" data-qa="textarea-with-limit" id="textarea-answer-remaining" aria-live="polite">You have <span>40</span>.
                                    </div>
                                </div>

                                <div class="top_50_extra_space">
                                    <button class="btn btn--primary" type="submit" name="submit" value="create_run">Save and continue</button>
                                    {% if run_id %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label><a href="/manage_run/{{run_id}}">Cancel</a></label>
                                    {% else %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label><a href="/dashboard">Cancel</a></label>
                                    {% endif %}
                                </div>

                            </form>

                        </div>
                    </div>

                </section>

                <section>
                    <div class="buttom_70_extra_space buttom_70_extra_space">
                        <table></table>
                    </div>
                    <div class="buttom_70_extra_space buttom_70_extra_space">
                        <table></table>
                    </div>
                </section>
            {% endblock %}
        </section>

        <!--Generic footer is imported from the parent template.-->
        <footer class="page__footer">
            {% block footer %}
                {{ super() }}
            {% endblock %}
        </footer>

    </body>
</html>
