<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Legacy prototype</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="apple-touch-icon" sizes="180x180" href="../../../../../../static/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../../../../../static/img/favicons/manifest.json">
  	<link rel="mask-icon" href="../../../../../static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css'>
	<link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/322aece/css/styles.css">
	<link rel="stylesheet" href="../../../../../static/css/legacy-main.css" media="all">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../../static/js/industry-range.js"></script>
</head>

<body>

<script src="https://cdn.ons.gov.uk/sdc/322aece/scripts/bundle.min.js" ></script>

<header class="page__header">

	<div class="logo_container">
		<div class="wrapper">
			<div class="group">
				<div class="col-7">
					<div class="logo_header">
						<a href="../hub.html"><img src="../../../../../static/img/logo.svg" alt="Office for National Statistics" class="logo__img"/></a>
					</div>
				</div>
				<div class="col-5">
					<div class="header_links">
						<ul class="menubar" role="menubar" id="appmenu">
							<li role="menuitem"><a href="" class="username">John Smith</a></li>
							<li class="menubar" role="menuitem"><a href="../../login.html" class="username">Sign out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="group">
				<div class="col-12">
					<div><h1 class="jupiter main_heading">Social</h1></div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="bar bar__sitenavigation not-mvpx top_15_extra_space" role="banner">
		        <div class="bar__inner container">
		            <div class="sitenavigation">
		              	<div class="sitenavigation">
		                	<ul class="sitenavigation__list">
			                    <li class="sitenavigation__listitem">
			                    	<a href="/dashboard">Dashboard</a>
			                    </li>
			                    <li class="sitenavigation__listitem sitenavigation__listitem--active">
			                    	<a href="#">New run</a>
			                    </li>
			                    <li class="sitenavigation__listitem">
			                    	<a href="/system_info">System info</a>
			                    </li>
			                </ul>
		              	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

</header>

<section>

	<div class="wrapper">
		<div class="col-8">
			<div class="top_50_extra_space">
				<div class="panel panel--simple panel--info">
			        <div class="panel__body">
						{% if run_id %}
			            	<p class="mars">You are editing run: {{run_id}} </p>
						{% else %}
			            	<p class="mars">You are creating a new IPS run. </p>
						{% endif%}
			            <p></p>
			        </div>
			    </div>
			</div>
			{% if form.s_day.errors or form.s_month.errors or form.s_year.errors or form.e_day.errors or form.e_month.errors or form.e_year.errors %}
				<div class="collator-item">
					<h2 class="collator-title"></h2>
					<!-- Start: @panel--error -->
					<div class="panel panel--error">
						<div class="panel__header">
							<div class="venus">Error</div>
						</div>
						<div class="panel__body">
							<p class="mars">Please enter valid fieldwork start and end dates.</p>
						</div>
					</div>
					<!-- End: @panel--error -->
				</div>
			{% endif %}

			<div class="group top_40_extra_space">
				<div>
					<h2 class="pluto grey_text ">Step 2 of 7 </h2>				
				</div>
				<div>
					<h2 class="saturn">Select fieldwork </h2>				
				</div>
			</div>

	  	</div>
	</div>

</section>

<section>

	<div class="wrapper">
		<div class="col-8 top_40_extra_space">
			{% if run_id %}
			<form id="run" action="/new_run/new_run_2/{{run_id}}" class="form" method="post">
			{% else %}
			<form id="run" action="/new_run/new_run_2" class="form" method="post">
			{% endif %}

				<fieldset class="fieldgroup fieldgroup--date" data-qa="widget-date">
				    <legend class="fieldgroup__title venus">Start date</legend>
				    <div class="fieldgroup__fields">
				        <div class="field field--input field--day">
							{{ form.csrf_token }}
							{{ form.s_day.label(class="label mercury", for="input-date-range-from-day", id="label-date-range-from-day")}}
							{{ form.s_day(class="input input--StringField ", value= last_entry['s_day'] , placeholder="DD", id="input-date-range-from-day") }}

							{% if form.s_day.errors %}
							<ul>
								{% for error_message in form.s_day.errors %}
								<li style = "color:red;">{{ error_message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
				        </div>

				        <div class="field field--select field--month">
							{{ form.csrf_token }}
							{{ form.s_month.label(class="label mercury", for="input-date-range-from-month")}}
							{{ form.s_month(class="input input--select", value = last_entry['s_month'])}}
							{% if form.s_month.errors %}
							<ul>
								{% for error_message in form.s_month.errors %}
								<li style = "color:red;">{{ error_message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
				        </div>

				        <div class="field field--input field--year">
							{{ form.csrf_token }}
							{{ form.s_year.label(class="label mercury", for="input-date-range-from-year", id="label-date-range-from-year")}}
							{{ form.s_year(class="input input--StringField ", value=last_entry['s_year'], placeholder="YYYY", id="input-date-range-from-year") }}
							{% if form.s_year.errors %}
							<ul>
								{% for error_message in form.s_year.errors %}
								<li style = "color:red;">{{ error_message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
				        </div>
				    </div>

				</fieldset>

				<br>
				<br>

				<fieldset class="fieldgroup fieldgroup--date" data-qa="widget-date">
				    <legend class="fieldgroup__title venus">End date</legend>
				    <div class="fieldgroup__fields">
				        <div class="field field--input field--day">
							{{ form.csrf_token }}
							{{ form.e_day.label(class="label mercury", for="input-date-range-from-day", id="label-date-range-from-day")}}
							{{ form.e_day(class="input input--StringField ", value=last_entry['e_day'], placeholder="DD", id="input-date-range-from-day") }}

							{% if form.e_day.errors %}
							<ul>
								{% for error_message in form.e_day.errors %}
								<li style = "color:red;">{{ error_message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
				        </div>

				        <div class="field field--select field--month">
							{{ form.csrf_token }}
							{{ form.e_month.label(class="label mercury", for="input-date-range-from-month")}}
							{{ form.e_month(class="input input--select", value = last_entry['e_month'])}}

							{% if form.e_month.errors %}
							<ul>
								{% for error_message in form.e_month.errors %}
								<li style = "color:red;">{{ error_message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
				        </div>

				        <div class="field field--input field--year">
							{{ form.csrf_token }}
							{{ form.e_year.label(class="label mercury", for="input-date-range-from-year", id="label-date-range-from-year")}}
							{{ form.e_year(class="input input--StringField ", value=last_entry['e_year'], placeholder="YYYY", id="input-date-range-from-year") }}

							{% if form.e_year.errors %}
							<ul>
								{% for error_message in form.e_year.errors %}
								<li style = "color:red;">{{ error_message }}</li>
								{% endfor %}
							</ul>
							{% endif %}

				        </div>
				    </div>

				</fieldset>

			    <div class="top_60_extra_space">
				    <button class="btn btn--primary" type="submit" name="submit" value="create_run">Save and continue</button>
				    &nbsp;&nbsp;&nbsp;
				    <a class="btn btn--secondary btn--border" href="/new_run/new_run_1">Back</a>
					{% if run_id %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label><a href="/manage_run/{{run_id}}">Cancel</a></label>
					{% else %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label><a href="/dashboard">Cancel</a></label>
					{% endif %}
				</div>

			</form>

		</div>
	</div>

</section>

<section>
	<div class="buttom_70_extra_space buttom_70_extra_space">
		<table></table>
	</div>
	<div class="buttom_70_extra_space buttom_70_extra_space">
		<table></table>
	</div>
</section>

<footer class="page__footer">

	<div class="wrapper">
		<div class="group">
			<div class="col-12">
				<span class="new">This release is in development. Your <a href="mailto:ramon.delgado@ext.ons.gov.uk?Subject=User%20feedback"> feedback</a> will help us improve it.</span>
			</div>
		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js'></script>


<script>
	jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>


<script>
$('.ui.dropdown').dropdown();
</script>


<script type="text/javascript">
 
window.onload = function(){
 
  var form = document.getElementById("form-sign-in");

  form.onsubmit = function(e) {
    e.preventDefault();
    var userInput = document.getElementById('text-input').value;
   
    if (userInput.includes('123')) {
   
      window.location = 'contributor.html';
   
    } else if (userInput.includes('cme')) {
      window.location = 'search_results.html';
    }
    return false;
  }
};
 
</script>​


</footer>

</body>
</html>
