<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Legacy prototype</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="apple-touch-icon" sizes="180x180" href="../../../../../../static/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../../../../../static/img/favicons/manifest.json">
  	<link rel="mask-icon" href="../../../../../static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css'>
	<link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/322aece/css/styles.css">
	<link rel="stylesheet" href="../../../../../static/css/legacy-main.css" media="all">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../../static/js/industry-range.js"></script>
</head>

<body>

<script src="https://cdn.ons.gov.uk/sdc/322aece/scripts/bundle.min.js" ></script>

<header class="page__header">

	<div class="logo_container">
		<div class="wrapper">
			<div class="group">
				<div class="col-7">
					<div class="logo_header">
						<a href="../hub.html"><img src="../../../../../static/img/logo.svg" alt="Office for National Statistics" class="logo__img"/></a>
					</div>
				</div>
				<div class="col-5">
					<div class="header_links">
						<ul class="menubar" role="menubar" id="appmenu">
							<li role="menuitem"><a href="" class="username">John Smith</a></li>
							<li class="menubar" role="menuitem"><a href="../../login.html" class="username">Sign out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="group">
				<div class="col-12">
					<div><h1 class="jupiter main_heading">Social</h1></div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="bar bar__sitenavigation not-mvpx top_15_extra_space" role="banner">
		        <div class="bar__inner container">
		            <div class="sitenavigation">
		              	<div class="sitenavigation">
		                	<ul class="sitenavigation__list">
			                    <li class="sitenavigation__listitem">
			                    	<a href="/dashboard">Dashboard</a>
			                    </li>
			                    <li class="sitenavigation__listitem">
			                    	<a href="/new_run/new_run_1">New run</a>
			                    </li>
			                    <li class="sitenavigation__listitem sitenavigation__listitem--active">
			                    	<a href="#">System info</a>
			                    </li>
			                </ul>
		              	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

</header>

<section>

	<div class="wrapper">
		<div class="col-8">



			<div class="top_50_extra_space">
				<div class="panel panel--simple panel--info">
			        <div class="panel__body">
			        	<!--
			            <strong class="u-mb-s u-d-b">Simple info panel - separate</strong>
			        	-->
			            <p class="mars">The information contained on this page is placeholder only. </p>
			            <p></p>
			        </div>
			    </div>
			</div>

			<div class="group top_40_extra_space">
				<div>
					<h2 class="saturn">International Passenger Survey</h2>
				</div>
				<div class="group top_10_extra_space">
					<h2 class="pluto grey_text saturn sml-margin buttom_10_extra_space">Build Number - x.x.x </h2>
					<h2 class="pluto grey_text saturn sml-margin buttom_10_extra_space">Release Number - 3.6 </h2>
				</div>
			</div>

	  	</div>
	</div>
</section>
<section>
		<div>
			<div class="wrapper">
				<div class="group">
					<div class="col-8">
						<h2 class="saturn sml-margin buttom_10_extra_space top_5_extra_space">Technologies</h2>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="wrapper">
				<div class="group">
					<div class="col-12">

						<table class="table table__dense">
							<thead class="table--head">
							<!--Render each column name -->
							{% for column in header %}
								<th class="table--header--cell"> {{ column | replace('_', ' ') | title }} </th>
							{% endfor %}
							</thead>
							<tbody>
								<!-- for each record, render each data value -->
								{% for record in records %}
								<tr class="table--row">
									{% for element in record %}
									<td class="table--cell"> {{ element }} </td>
									{% endfor %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

<section>
	<div class="buttom_70_extra_space buttom_70_extra_space">
		<table></table>
	</div>
	<div class="buttom_70_extra_space buttom_70_extra_space">
		<table></table>
	</div>
</section>

<footer class="page__footer">

	<div class="wrapper">
		<div class="group">
			<div class="col-12">
				<span class="new">This release is in development. Your <a href="mailto:ramon.delgado@ext.ons.gov.uk?Subject=User%20feedback"> feedback</a> will help us improve it.</span>
			</div>
		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js'></script>


<script>
	jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>


<script>
$('.ui.dropdown').dropdown();
</script>


<script type="text/javascript">

window.onload = function(){

  var form = document.getElementById("form-sign-in");

  form.onsubmit = function(e) {
    e.preventDefault();
    var userInput = document.getElementById('text-input').value;

    if (userInput.includes('123')) {

      window.location = 'contributor.html';

    } else if (userInput.includes('cme')) {
      window.location = 'search_results.html';
    }
    return false;
  }
};

</script>​


</footer>

</body>
</html>
